.background {
  text-align: center;
}

.main {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
  padding: 5px;
}

.title {
  font-size: 70px;
}

.button {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  background-color: #000000;
  color: #61dafb;
  border-color: #61dafb;
}
.button:active,
.button:focus {
  background-color: #61dafb;
  color: #000000;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.button:hover {
  cursor: pointer;
  background-color: #61dafb;
  color: #000000;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input-box {
  width: 30%;
  position: relative;
}

.input-box .input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-box .input:focus ~ label,
.input-box .input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.tasks {
  display: flex;
  list-style: none;
  counter-reset: list;
  flex-direction: column;
}

.tasks .task {
  display: flex;
  border: 2px;
  border-radius: 10px;
  border-color: #61dafb;
  border-style: solid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  margin: 50px;
  padding: 50px;
}

.tasks .task h3 {
  display: flex;
  align-items: baseline;
  margin: 0 0 1rem;
  color: #61dafb;
}

.tasks .task p {
  margin: 10px;
  width: 500px;
  overflow: hidden;
  text-align: center;
  text-overflow: clip;
  white-space: nowrap;
  font-size: 14px;
}

.tasks .task a {
  color: #03e9f4;
}

.tasks .task .complete {
  color: green;
  font-weight: bolder;
}

.tasks .task .error {
  color: red;
  font-weight: bolder;
}
